source_up
export TALOSCONFIG=talos/generated/home-cloud/talosconfig
export KUBECONFIG=talos/generated/home-cloud/kubeconfig
export REGISTRY_URL=registry.home.antonu.org
export TALOS_FACTORY=https://talos.home.antonu.org
export TALOS_VERSION=v1.14.2
export TALOS_SCHEMATIC="$(cat talos/image-factory/schematic-amd64.id)"
export LOCAL_INSTALLER="${REGISTRY_URL}/talos/metal-installer/${TALOS_SCHEMATIC}:${TALOS_VERSION}"
